manifest {
    author = 'Vivek Appadurai | vivek.appadurai@regionh.dk'
    description = 'PolyFun pipeline to calculate per SNP priors for finemapping'
    mainScript = 'main.nf'
}

// Hard-coded paths that might change, depending on cluster/storage

params {
    help                  = false
    assoc                 = "/faststorage/jail/project/cross_disorder_2/scripts/polyfun/example_data/boltlmm_sumstats.gz"
    n                     = 327209
    out                   = "example_out"
    annotation            = "/faststorage/jail/project/cross_disorder_2/data/baselineLF2_2_UKBB/baselineLF2_2_UKB"
    weights               = "/faststorage/jail/project/cross_disorder_2/data/weights_UKB"
    bfile                 = "/faststorage/jail/project/cross_disorder_2/scripts/polyfun/example_data/reference"
    munge_sumstats_script = "/faststorage/jail/project/cross_disorder_2/scripts/polyfun/munge_polyfun_sumstats.py"
    polyfun_script        = "/faststorage/jail/project/cross_disorder_2/scripts/polyfun/polyfun.py"
}

executor {
    name              = 'slurm'
    submitRateLimit   = '1 sec'
    pollInterval      = '1 min'
    queueStatInterval = '5 min'
    errorStrategy     = 'retry'
    maxRetries        = 2
}

process {
    withLabel: big_mem {
        cpus           = 1
        memory         = { 32.GB * task.attempt }
        time           = '72h'
        clusterOptions = '--account=cross_disorder_2'
    }
}

process {
    withLabel: mod_mem {
        cpus           = 1
        memory         = { 16.GB * task.attempt }
        time           = '24h'
        clusterOptions = '--account=cross_disorder_2'
    }
}

process {
    withLabel: low_mem {
        cpus           = 1
        memory         = { 8.GB * task.attempt }
        time           = '4h'
        clusterOptions = '--account=cross_disorder_2'
    }
}